<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="window-target" content="_top"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8;"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <title>主页</title>
    <meta http-equiv="description" content="">
    <meta name="keywords" content=""/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.5.4/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/image.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <style>
        .layui-laypage .layui-laypage-curr .layui-laypage-em{
            background-color: #1F7BBC;
        }
        .layui-laypage a:hover{
            color: #1F7BBC;
        }
        .layui-btn{
            background-color: #1F7BBC;
        }
        .layui-btn-primary{
            background-color: #fff;
        }
        .layui-form-item{
            display:inline-block;
        }
        .layui-form-label{
            font-size: initial;
            color: #666;
        }
        input {
            font-size: initial;
        }
        .layui-table-view{
            margin:10px 10px;
        }
        .search-collapse,.select-table {
            width: auto;
            margin-left: 10px;
            margin-right: 10px;
            background: #fff;
            border-radius: 6px;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            box-shadow: 1px 1px 3px rgba(0,0,0,.2);
        }
    </style>
</head>
<body class="">
<!--机构搜索表单-->
<div class="search-collapse">
    <form class="layui-form" autocomplete="off" style="width: 90%; margin-top: inherit;">
        <div class="layui-form-item" style="width: 300px">
            <label class="layui-form-label">请假人</label>
            <div class="layui-input-block">
                <input type="text" name="employeeName" th:value="${session.user.employeeName}" readonly="readonly" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item" style="width: 300px">
            <label class="layui-form-label">申请人部门</label>
            <div class="layui-input-block">
                <input type="text" name="officeName" th:value="${session.office.officeName}" readonly="readonly" autocomplete="off" class="layui-input" >
            </div>
        </div>

        <div class="layui-form-item" style="width: 200px">
            <label class="layui-form-label">假期类型
                <span style="color:red">*</span>
            </label>
            <div class="layui-input-block">
                <select name="leaveType" lay-verify="required">
                    <option value=""></option>
                    <option value="事假">事假</option>
                    <option value="病假">病假</option>
                    <option value="调休假">调休假</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="width: 300px">
            <label class="layui-form-label">起始日期
                <span style="color:red">*</span>
            </label>
            <div class="layui-input-block">
                <input id="startDate" type="text" name="startDate" lay-verify="required" class="layui-input" readonly="readonly" >
            </div>
        </div>
        <div class="layui-form-item" style="width: 300px">
            <label class="layui-form-label">结束日期
                <span style="color:red">*</span>
            </label>
            <div class="layui-input-block">
                <input id="endDate" type="text" name="endDate" lay-verify="required" class="layui-input" readonly="readonly" >
            </div>
        </div>

        <div class="layui-form-item" style="width: 200px">
            <label class="layui-form-label">请假天数
                <span style="color:red">*</span>
            </label>
            <div class="layui-input-block">
                <input type="number" name="leaveDays" lay-verify="required" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item" style="width: 600px">
            <label class="layui-form-label">请假原因
                <span style="color:red">*</span>
            </label>
            <div class="layui-input-block">
                <textarea type="text" name="leaveCause" lay-verify="required" class="layui-textarea" ></textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="leave_apply">确认申请</button>
            </div>
        </div>
    </form>
</div>

<!--数据列表-->
<table id="leave_record" lay-filter="leave_record" ></table>

<table class="layui-table" lay-data="{height:315, url:'/apply/queryByUserId', page:true, id:'leave_record'}" lay-filter="leave_record">
    <thead>
    <tr>
        <th th:each="field : ${fields}" th:lay-data="${'{field:'''+field+''', width:80, sort: true}'}">ID</th>ss
    </tr>
    </thead>
</table>




<!--头工具栏模板-->
<script type="text/html" id="toolbar_apply">
    <p>申请记录</p>
</script>

<!--状态模板-->
<script type="text/html" id="tpl_officeStatus">
    {{#  if(d.status == 0){ }}
    <span>正常</span>
    {{#  } else { }}
    <span style="color: red;">停用</span>
    {{#  } }}
</script>

</body>
<script th:src="@{/lib/layui-v2.5.4/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">

    /*<![CDATA[*/
    var username = '[[${session.user.name}]]';
    /*]]>*/

    layui.use(['form', 'table','layer','laydate'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        //初始化加载表格数据
        //监听确认申请
        form.on('submit(add_apply)', function (data) {
            var applyData = data.field;
            applyData['startDate']=new Date(applyData.startDate);
            applyData['endDate']=new Date(applyData.endDate);
            applyData['actStepId']=1;
            applyData['actId']=1;
            layer.confirm('确定申请？', function () {
                $.ajax({
                    url: "/apply/add",
                    type: "POST",
                    data: {applyData:JSON.stringify(applyData)},
                    success: function (data) {
                        if (data.code == '200') {
                            layer.alert('申请成功！', {
                                icon: 5,
                                title: "提示"
                            });
                            table.reload('leave_record', {});
                        }
                    },
                    error: function () {
                        layer.msg("申请失败！！！")
                    }
                })
            });
            return false;
        });

        var laydate = layui.laydate;
        var nowDate = dateFormat('YYYY-mm-dd',new Date());
        var newDate = new Date();
        //执行一个laydate实例
        var startDate=laydate.render({
            elem: '#startDate', //指定元素
            value: nowDate,
            type: 'date',
            min: nowDate,
            max:"2099-12-31",//设置一个默认最大值
            done: function(value, date){
                console.log(date);
                console.log(newDate);
                if(JSON.stringify(date)=="{}"){
                    endDate.config.min={
                        year:newDate.getFullYear().toString(),
                        month:newDate.getMonth().toString(),
                        date: newDate.getDate().toString(),
                    };
                }else {
                    endDate.config.min ={
                        year:date.year,
                        month:date.month-1,
                        date: date.date,
                    };
                }
            }

        });

        var endDate=laydate.render({
            elem: '#endDate', //指定元素
            type: 'date',
            min:nowDate,//设置min默认最小值
            done: function(value,date){
                if(JSON.stringify(date) == "{}"){
                    startDate.config.max={
                        year:'2099',
                        month:'12',
                        date: '31',
                    }
                }else {
                    startDate.config.max={
                        year:date.year,
                        month:date.month-1,
                        date: date.date,
                    }
                }

            }
        });


    });


    /**
     * 添加机构
     */
    function addoffice() {
        //独立版的layer无需执行这一句
        layui.use(['layer', 'jquery'], function () {
            var $ = layui.$, layer = layui.layer;
            layer.open({
                type: 1,
                title: '添加机构',
                content: $('#office_add'),
                area: '600px',
                shade: 0.6, //遮罩透明度
                anim: 0, //0-6的动画形式，-1不开启
                success: function () {
                    console.log(456);
                },
                end: function () {
                    /*   $("office_add input[type='text']").each(function () {
                           $(this).val('');
                       });
                       $(".layui-laypage-btn").click();*/

                    $(".layui-laypage-btn").click();
                    $("#add_form_id")[0].reset();

                }
            });

        });

    }

    function updateoffice(data, officeId) {
        //独立版的layer无需执行这一句
        layui.use(['layer', 'jquery', 'form'], function () {
            var $ = layui.$, layer = layui.layer, form = layui.form;
            layer.open({
                type: 1,
                title: '编辑机构',
                content: $('#office_update'),
                area: '600px',
                shade: 0.6, //遮罩透明度
                anim: 0, //0-6的动画形式，-1不开启
                success: function (layero, index) {
                    form.val("update_form", {
                        "officeId": data.officeId,
                        "officeName": data.officeName, // "name": "value"
                        "address": data.address,
                        "phone": data.phone,
                        "status": data.status,
                        "remark": data.remark,
                    })
                },
                end: function () {
                    $("#update_form_id")[0].reset();
                    $(".layui-laypage-btn").click();


                    /*$("office_add input[type='text']").each(function () {
                        $(this).val('');
                    });
                   */
                }
            });

        });

    }


    function dateFormat(fmt, date) {
        if (date == null) {
            return '';
        }
        let ret;
        var date = new Date(date);
        let opt = {
            "Y+": date.getFullYear().toString(),        // 年
            "m+": (date.getMonth() + 1).toString(),     // 月
            "d+": date.getDate().toString(),            // 日
            "H+": date.getHours().toString(),           // 时
            "M+": date.getMinutes().toString(),         // 分
            "S+": date.getSeconds().toString()          // 秒
            // 有其他格式化字符需求可以继续添加，必须转化成字符串
        };
        for (let k in opt) {
            ret = new RegExp("(" + k + ")").exec(fmt);
            if (ret) {
                fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
            }
            ;
        }
        ;
        return fmt;

    }






























</script>



</html>
